$themes: map-merge($themes, (
  dk: map-merge($theme-defaults, (
    background-color: #121417,
    medium-color: #ABB2BF,
    text-color: #e5e7eb,
    action-color: #1a466b,
    error-color: #C34034,
    modal-opacity: 1,
    mute-percent: 60%,
  ))
));
