<div class="import import_mode">
    <div class="import_source">
        <div style="text-align: center;">
            <button id="vault_import_skip" tabindex="16">{{#if firstRun}}{{res 'continueWithoutImporting'}}{{else}}{{res 'alertCancel'}}{{/if}}</button>
        </div>
    </div>
</div>
