.hide {
  display: none !important;
}

.hide-by-pos {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.invisible {
  visibility: hidden !important;
}

.grayscale {
  filter: grayscale(1);
}

.input-shake {
  animation: shake 50s cubic-bezier(.36,.07,.19,.97) 0s;
}

@keyframes shake {
  0%, 1%, 100% { transform: translate3d(0, 0, 0); }
  .1%, .9% { transform: translate3d(-1px, 0, 0); }
  .2%, .8% { transform: translate3d(2px, 0, 0); }
  .3%, .5%, .7% { transform: translate3d(-3px, 0, 0); }
  .4%, .6% { transform: translate3d(3px, 0, 0); }
}
