.modal {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  @include th { background-color: th(modal-background-color); }
  z-index: $z-index-modal;

  transition: background-color $base-duration $base-timing;
  &.modal--hidden {
    @include th { background-color: th(modal-background-color-tr); }
  }

  &.modal--opaque {
    @include th { background-color: th(background-color); }
  }

  &__content {
    @include size(100%);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;

    transition: all $base-duration $base-timing;
    .modal--hidden & {
      transform: scale(0.01);
      opacity: 0;
    }
  }

  &__icon {
    font-size: $modal-icon-size;
    text-align: center;
  }
  &__header {
    user-select: text;
    text-align: center;
    font-size: $small-header-font-size;
  }
  &__body {
    user-select: text;
    text-align: left;
    margin: $base-spacing;
  }
  &__buttons {
    text-align: right;
    display: flex;
    justify-content: flex-end;

    button ~ button {
      margin-left: $small-spacing;
    }
    >button {
      margin-bottom: $small-spacing;
    }
  }
  &__body, &__buttons {
    align-self: center;
    width: 40%;
    @include tablet {
      width: 90%;
    }
  }
  &__check-wrap {
    margin-top: $base-spacing;
  }
  &__pre {
    white-space: pre-wrap;
  }
}

.coupon__content {
  justify-content: flex-start;
}

.coupon__content .modal__header {
  margin-top: 20px;
}

.coupon__content .box {
  @include th { border: 1px solid th(accent-border-color); }
  margin: 10px;
  padding: 10px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coupon__content .modal__body {
  width: 70%;
  @include tablet {
    width: 90%;
  }
}

.coupon__content > .modal__body > p {
  text-align: center;
  font-weight: bold;
  font-size: 1.15em;
}

.coupon__content .modal__icon {
  padding-top: 20px;
}
