.app__list > .list,
.app__menu,
.app__footer,
.app__list-wrap,
.app__details {
  position: relative;
}

button.vault_action {
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 0;

  .content {
    cursor: pointer;
  }
  .opening-icon {
    display: none;
  }

  &.active {
    .opening-icon {
      display: block;
      position: absolute;
    }
    .content {
      display: block;
      visibility: hidden;
      float: left;
    }
  }
}

.vault_update_available {
  @include th { border-bottom: 2px solid th(accent-border-color); }
  padding: 10px 10px 15px;
  display: flex;
  justify-content: center;
  body.intro_active > & {
    display: none;
  }
}

/* CSSGrid with an fr unit on the main app would be much less hacky in future */
.vault_update_available + .app {
  height: calc(100% - 60px);
}

body.intro_active > .vault_update_available + .app {
  height: 100%;
}

/* Avoid need to support different prefixes for standard icons */
i.fa.fa-expeditedssl,
i.fa.fa-wikipedia-w,
i.fa.fa-windows,
i.fa.fa-linux,
i.fa.fa-apple {
  font-family: Font Awesome\ 5 Brands;
  font-weight: 400;
}

.logo-container > svg {
  width: 30vw;
  max-width: 600px;
  min-width: 150px;
  height: auto;
}

div.passwordStrengthRating i.fa-fw {
  width: 1.1em;
}

div.app.firstLoad {
  display: none;
}

body.firstLoad {
  div.app.firstLoad {
    display: block;
  }
  // This makes the big Vault logo not appear in the centre of the screen
  // after the default intro blurb has been displayed but also breaks demo
  // and register destinations for new visitors. Probably have to resolve
  // by inspecting dest at same time as inspecting new visitor status in
  // index.html? In mean time those two dests end up with a weird animation
  // effect on load but so far seem to work fine after that slight glitch.
  // .vault_overlay .vault_intro_full_content_body {
  //   opacity: 1;
  //   transition: unset;
  // }
  #home_sec_signin #vault_existing_user_login_narrow.active {
    display: flex;
  }
}
