.import {
  justify-items: center;
  font-size: calc(10px + 1vmin);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  &_source {

    text-align: left;

    ol {
      list-style-type: decimal;
      margin: 10px;
      padding: 20px;
    }

    .import--drag & { display: none; }
  }

  .import__icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: baseline;
    width: 50vw;
    min-width: 300px;
    text-align: center;
    margin: auto;
  }

  .import__icon {
    @include th { color: th(medium-color); }
    @include th { background-color: th(secondary-background-color); }
    @include th { border: solid 1px th(muted-color-border); }
    font-size: calc(10px + 1vmin);
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    margin: 0px 10px 20px 10px;

    .import__icon-text {
      @include th { border-bottom: solid 2px th(secondary-background-color); }
    }

    &:hover {
      @include th { color: th(text-color); }
      @include th { background-color: th(intermediate-background-color); }
      @include th { border: solid 1px th(action-color); }

      .import__icon-text {
        @include th { background-color: th(intermediate-background-color); }
        @include th { border-bottom: solid 2px th(action-color); }
      }
    }

    &.active {
      cursor: default;
      @include th { background-color: th(secondary-background-color); }
      @include th { border: solid 1px th(action-color); }
      @include th { color: th(action-background-color-focus); }
      .import__icon-text {
        @include th { border-bottom: solid 2px th(action-color); }
        @include th { color: th(text-color); }
      }

      &:hover {
        cursor: default;
        @include th { background-color: th(secondary-background-color); }
        @include th { border: solid 1px th(action-color); }

        .import__icon-text {
          @include th { background-color: th(secondary-background-color); }
        }
      }

    }

    &-i {
      font-size: calc(10px + 6vmin);
    }
  }

  &__dropzone {
    display: none;
    .import--drag & {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      justify-content: center;
      align-self: center;
      align-items: center;
      text-align: center;
    }
    &-icon {
      font-size: 10em;
    }
    &-header {
      margin-top: 1em;
    }
  }

  input[type=password].open__pass-input {
    font-size: 22px;
  }

  .open > * {
    margin: 0.75vmin 0px;
  }
}

.import.import_mode {
  margin-top: calc(10px + 2vmin);
  @include th { border-top: solid 1px th(muted-color-border); }
}

#importButton {
  align-self: center;
  justify-self: center;
}
