<div id="mobileAccountWarningContainer">
    <p>Kee Vault enables access to your passwords from all modern devices. However, the initial creation of your Vault and some helpful features such as automatic form filling are designed for desktop computers.</p>
    <p>We recommend that you access Kee Vault from your desktop computer initially.</p>
    {{!-- <input id="loginEmail" placeholder="Email address" type="email">
    <button class="vault_primary_action" id="emailMeALink">Email me a link for later</button> --}}
    <button class="vault_primary_action btn-silent" id="registerAnyway">Continue to sign up anyway</button>
</div>
