<div class="open register reset" id="accountStartContainer">
    <div class="logo-container">{{{svg 'logo'}}}</div>
    <h2><i class="fas fa-exclamation-triangle"></i> {{res 'accResetLinkExpired'}}</h2>
    <div class="fieldExplainer">{{res 'accResetLinkExpiredDetails'}}</div>
</div>
