<div class="vault_modal{{#if target}}_fixed{{/if}} {{#if opaque}}modal--opaque{{/if}}">
    <div class="vault_modal__content">
        <div class="modal__body">
            {{{body}}}
        </div>
        <div class="modal__buttons">
            {{#each buttons as |btn|}}
                <button class="{{#unless btn.result}}btn-error{{/unless}} {{#if btn.error}}btn-error{{/if}} {{#if btn.silent}}btn-silent{{/if}} {{#if btn.keeAddonRequired}}keeAddonRequired{{/if}}"
                        data-result="{{btn.result}}" {{#if btn.keeAddonRequired}}disabled="disabled"{{/if}}>{{btn.title}}</button>
            {{/each}}
        </div>
    </div>
</div>
